@charset "utf-8";

/* 박스 모델 통일 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 기본 여백 제거 */
html,
body {
    margin: 0;
    padding: 0;
}

/* 리스트 스타일 제거 */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 링크 초기화 */
a {
    color: inherit;
    text-decoration: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
}

.clearfix::after {
    clear: both;
}